.dxbButton.dxgvCommandColumnItem.dxbButtonSys,
.dxgvPagerBottomPanel a,
.dxgvEditFormTable a {
    color: #00ae68 !important;
    text-decoration: none;
}

.dxbButton.dxgvCommandColumnItem.dxgv__cci.dxbButtonSys:hover,
.dxgvPagerBottomPanel a:hover,
.dxgvEditFormTable a:hover {
    text-decoration: underline;
}

.b-sprite {
    position: absolute;
    /* text-indent: -9999px; */
    overflow: hidden;
    background: url(../personal/img/arrow_down.svg) no-repeat;
}

.b-sorter {
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-position: 0;
    position: relative;
    transition: all .3s;
}

.b-sorter:hover,
.dxgvHeader:hover .b-sorter {
    background-position: 0;
    transform: rotate(180deg);
}

.dxEditors_edtDropDown_DevEx {
    background: url(../personal/img/arrow_down.svg) no-repeat !important;
    background-position: center !important;
    width: auto !important;
}

.dxeButtonEditButtonHover_DevEx, 
.dxeSpinIncButtonHover_DevEx, 
.dxeSpinDecButtonHover_DevEx, 
.dxeSpinLargeIncButtonHover_DevEx, 
.dxeSpinLargeDecButtonHover_DevEx {
    background: #e6edfe url(/DXR.axd?r=0_617-wvpgf) repeat-x center !important;
    background-size: contain !important;
}


.dxeButtonEditSys.dxeButtonEdit_DevEx,
.dxeButtonEditSys.dxeButtonEdit.dxeNullText,
.dxeButtonEditSys.dxeButtonEdit.dxeFocused {
    border-collapse: collapse !important;
    background-image: url(../img/selectDevEx.png);
    background-repeat: no-repeat;
    background-position: 0px center;
}

td.dxic input.dxeEditAreaSys[type="text"] {
    background-color: #fff !important;
}

.dxgvCommandColumn.dxgv,
#ctl00_contentBody_xGrid_col0 {
    padding-left: 6px !important;
    text-align: center !important;
/*     min-width: 160px; */
}

#ctl00_contentBody_xGrid_col0 .dx-wrap {
   padding: 0 !important;
   text-align: center !important;
}

.dxgvEditForm td.dxgv {
    border-color: #00ae68 !important;
}

.dxeButton.dxeButtonEditButton_DevEx:hover {
    background: rgba(46, 190, 150, 0.7) !important;
    border-radius: 4px;
}
