/* -----------------------------------------------------------------------------
FONTS
----------------------------------------------------------------------------- */
@font-face {
  font-family: 'Univers';
  src: url('../fonts/univers_regular.eot');
  src: url('../fonts/univers_regular.eot?#iefix') format('embedded-opentype'), url('../fonts/univers_regular.woff') format('woff'), url('../fonts/univers_regular.ttf') format('truetype'), url('../fonts/univers_regular.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Univers';
  src: url('../fonts/univers_light.eot');
  src: url('../fonts/univers_light.eot?#iefix') format('embedded-opentype'), url('../fonts/univers_light.woff') format('woff'), url('../fonts/univers_light.ttf') format('truetype'), url('../fonts/univers_light.svg#svgFontName') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Univers';
  src: url('../fonts/univers_bold.eot');
  src: url('../fonts/univers_bold.eot?#iefix') format('embedded-opentype'), url('../fonts/univers_bold.woff') format('woff'), url('../fonts/univers_bold.ttf') format('truetype'), url('../fonts/univers_bold.svg#svgFontName') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Georgia';
  src: url('../fonts/georgia_regular.eot');
  src: url('../fonts/georgia_regular.eot?#iefix') format('embedded-opentype'), url('../fonts/georgia_regular.woff') format('woff'), url('../fonts/georgia_regular.ttf') format('truetype'), url('../fonts/georgia_regular.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Georgia';
  src: url('../fonts/georgia_bold.eot');
  src: url('../fonts/georgia_bold.eot?#iefix') format('embedded-opentype'), url('../fonts/georgia_bold.woff') format('woff'), url('../fonts/georgia_bold.ttf') format('truetype'), url('../fonts/georgia_bold.svg#svgFontName') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Georgia';
  src: url('../fonts/georgia_italic.eot');
  src: url('../fonts/georgia_italic.eot?#iefix') format('embedded-opentype'), url('../fonts/georgia_italic.woff') format('woff'), url('../fonts/georgia_italic.ttf') format('truetype'), url('../fonts/georgia_italic.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: italic;
}

body {
	/*font-family: 'Univers';*/
	font-weight: normal;
	color: #122532;
	background: url(../img/bg.png);
	background-size: cover;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	/*font-family: 'Georgia';*/
	font-weight: normal;
}

.lk-wrap h1, .lk-wrap h2, .lk-wrap h3, .lk-wrap h4, .lk-wrap h5, .lk-wrap h6 {
	/*font-family: 'Univers';*/
	font-weight: normal;
	font-style: normal;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

.m0 {
	margin: 0;
}

.mb0 {
	margin-bottom: 0;
}

.mt0 {
	margin-top: 0;
}

.mb10 {
	margin-bottom: 10px;
}

.main-logo {
	margin-bottom: 60px;
}

.main-bg {
	background: #00ae68;
}

.main-color {
	color: #00ae68;
}

.error-bg {
	background: #F44336;
}

.error-color {
	color: #F44336;
}

.main-link {
	/*font-family: 'Univers';*/
	font-weight: bold;
}

.main-link {
	display: inline-block;
}

.main-link:after {
    top: 100%;
    left: 0;
    display: block;
    width: 0;
    height: 2px;
    content: '';
    background: transparent;
    -webkit-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    transition: .3s ease-out;
}

.main-link:hover:after {
    width: 100%;
    background-color: #00ae68;
}

.main-wrap {
    max-width: 340px;
    margin: auto;
    padding: 90px 0 120px;
}

.inner-wrap {
    padding: 90px 0 120px;
}

.lk-wrap {
    padding: 40px 0 100px;
}

.wrap {
    margin: 140px 190px;
    background-color: #fff;
}

.wrap .row .input-field {
	text-align: center;
}

.wrap .row .main-label.active {
	font-size: 16px;
	color: #122532;
	width: 100%;
    transform: none;
    position: static;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}

.wrap .row .main-input {
	border: 2px solid #e5e4e4;
    padding-left: 20px;
    margin: 0 auto 8px;
    background: #e4e4e4;
    box-sizing: border-box;
    -webkit-appearance: none;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.wrap .row .main-input:focus {
	background: #fff;
	border: 2px solid #00ae68 !important;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2) !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2) !important;
    outline: none;
}

.wrap .row textarea.main-input {
	padding-top: 12px !important;
	resize: vertical;
}

.main-btn {
    height: 3rem;
    line-height: 3rem;
    padding: 0 50px;
    margin: 20px 0;
    cursor: pointer;
}

i.main-btn {
	padding: 0;
}

i.main-btn input {
	padding: 0 50px;
	width: 100%;
	height: 100%;
	color: #fff;
	cursor: pointer;
}

.file-field .main-btn {
	margin: 0;
	padding: inherit;
}

.main-btn.main-bg:hover {
	background: #00ae68;
	-webkit-box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2) !important;
    box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2) !important;
}

.main-btn.error-bg:hover {
	background: #de3b2f;
	-webkit-box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2) !important;
    box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2) !important;
}

.wrap .row .input-field {
	/*height: 6rem;*/
}

.wrap .row .main-select,
.wrap .row .input-field .dxic {
	/*font-family: 'Univers';*/
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    border: 2px solid transparent;
    margin: 0 auto 8px;
    padding-left: 20px;
	-webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
    background: url(../img/arrow_down.svg) no-repeat right #e4e4e4;
    -webkit-appearance: none;
    background-position-x: 100%;
}

.wrap .row .input-field .dxic {
	padding: 0 20px 0 20px !important;
	margin: 0 auto 0;
    border-radius: 0;
}

.wrap .row .input-field .dxic input {
	font-size: 14px;
	color: #000 !important;
}

.wrap .row .input-field .dxeListBoxItem_DevEx {
	color: #000 !important;
}

.wrap .row .main-select:focus {
	background: url(../img/arrow_down.svg) no-repeat right #fff;
	border: 2px solid #00ae68 !important;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2) !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2) !important;
    outline: none;
}

.wrap .row .input-field .dxeButtonEditSys.dxeButtonEdit_DevEx {
	height: 3rem !important;;
    line-height: 3rem !important;;
	width: 100% !important;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-size: 14px !important;
	position: relative;
	display: block;
	margin-bottom: 8px;
}

.wrap .row .input-field input[type="text"].dxeEditArea_DevEx {
    margin-bottom: 0;
}

.wrap .row .input-field tr {
	border-bottom: 0;
}

.wrap .row .input-field .dxeButtonEditButton_DevEx {
	padding: 0 !important;
    background-image: none !important;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
   	height: 3rem;
    line-height: 3rem;
}

.wrap .row .input-field .dxeButtonEditButton_DevEx img {
	display: none;
}

.wrap .row .input-field .dxeButton.dxeButtonEditButton_DevEx:before {
	/*content: "▼";*/
}

.back i, .back span {
	display: inline-block;
    vertical-align: middle;
    margin-bottom: 2px;
}

nav.datepicker--nav {
	color: inherit;
    background-color: inherit;
    height: auto;
    line-height: initial;
    box-shadow: none;
    width: auto;
}

nav .datepicker--nav-title i {
	font-size: inherit;
    height: auto;
    line-height: initial;
}

.lk-wrap .row .input-field,
.lk-wrap .row .main-label.active {
	text-align: left;
}

.lk-wrap .row .main-label.active {
	color: #00ae68;
	height: 48px;
    margin-bottom: 0;
}

.lk-wrap .row .input-field .main-input {
	font-size: 14px;
}

.lk-wrap .row .input-field span {
	display: block;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
}

.edit-link {
	margin: 0 20px;
}

.lk-wrap .row .main-select:disabled {
	border: 2px solid transparent;
    background: none;
    color: #122532;
    -webkit-appearance: none;
    padding: 0;
}

.lk-wrap .row .main-input:disabled {
	border: 2px solid transparent;
    background: none;
    color: #122532;
    padding: 0;
    resize: none;
    box-shadow: none;
}

.lk-wrap .phone-title {
    display: inline-block;
    margin-right: 40px;
}

.lk-wrap #phone-data .row:not(:first-child) .main-label {
	display: none;
}

.lk-wrap #phone-data .row.new .main-label {
	display: block;
}

.lk-wrap .edit-phone {
	height: 3rem;
    line-height: 3rem;
}

.phone-link {
	margin-right: 20px;
}

.edit-phone.phone-link {
	margin: 0;
}

.welcome-wrap {
	text-align: right;
}

.modal {
	max-width: 340px;
}

.inner-wrap .file-field .file-path-wrapper {
    overflow: hidden;
    padding-left: 1.5rem;
}

.wrap .row .main-input.invalid,
.wrap .row .main-input.error,
.wrap .row .dxic.invalid,
.wrap .row .browser-default.error {
    border-bottom: 2px solid #F44336;
    box-shadow: none;
}

.wrap .row .dxic.valid {
    border-bottom: 2px solid #4CAF50;
    box-shadow: none;
}

.delete-btn {
	margin-top: 100px;
}

span.error {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: -12px;
    font-size: 12px;
    color: #F44336;
    text-align: center;
}

.lk-wrap span.error,
.inner-wrap span.error {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: -14px;
    font-size: 12px !important;
    color: #F44336;
    height: auto !important;
    line-height: 100% !important;
}

input.main-link {
    -webkit-appearance: none;
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

.lk-wrap .dxgvControl {
	background: none;
	border: none;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.lk-wrap .dxgvControl tr {
	border: none;
	background: none;
}

.lk-wrap .dxgvControl td, .lk-wrap .dxgvControl th {
	padding: 0 !important;
    color: #000;
    border: none !important;
    background: none !important;
    font-size: 14px;
}

.lk-wrap .dx-wrap {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
	font-size: 16px !important;
	color: #00ae68 !important;
    text-align: left !important;
}

.lk-wrap .dxgvTable {
	background: none;
}

.lk-wrap .dxeTextBoxSys.dxeTextBox_DevEx.dxeTextBoxDefaultWidthSys {
	background: none !important;
}

.lk-wrap .dxeEditArea_DevEx.dxeEditAreaSys {
	border: 2px solid #e5e4e4;
    padding-left: 20px;
    margin: 0 0 8px;
    background: #e4e4e4 !important;
    box-sizing: border-box;
    -webkit-appearance: none;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    border: 2px solid transparent !important;
    color: #000 !important;
    max-width: 340px;
}

.lk-wrap .dxeEditArea_DevEx.dxeEditAreaSys:focus {
	background: #fff !important;
	border: 2px solid #00ae68 !important;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2) !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2) !important;
    outline: none;
}

.lk-wrap .dxgv {
	padding-right: 1.5rem;
}

.lk-wrap .dxbButton.dxgvCommandColumnItem.dxgv__cci.dxbButtonSys,
.lk-wrap .dxbButton.dxbButtonSys {
	font-weight: bold;
	color: #00ae68;
	text-decoration: none;
}

.lk-wrap .dxgvCommandColumn[align="right"] {
	text-align: left;
	padding: 10px !important;
}

.lk-wrap .dxgvDataRow {
	height: 3rem;
}

.lk-wrap .dxeTextBoxSys td.dxic {
    padding-right: .75rem !important;
}

.lk-wrap .dxgvCommandColumn {
	height: 3rem;
}

.lk-wrap .dxgvEditFormCaption label {
	color: #00ae68;
	font-size: 14px;
}

.lk-wrap .dxgvControl .dxgvEditFormCaption,
.lk-wrap .dxgvControl .dxgvEditFormCell {
	width: 100%;
    display: block;
    padding: 10px !important;
}

.lk-wrap .dxgvEditForm.dxgvFVR .dxgv,
.lk-wrap .dxgvEditForm #ctl00_contentBody_xGrid_DXEFC {
	border: 2px solid #00ae68 !important;
}

.lk-wrap td.dxeHelpText_DevEx span,
.reg-form span.helper-text,
.lk-wrap .dxgvEditingErrorRow .dxgv {
	color: #F44336;
}

textarea.materialize-textarea.main-input.valid {
	border-bottom: 1px solid #4CAF50;
    -webkit-box-shadow: 0 1px 0 0 #4CAF50;
    box-shadow: 0 1px 0 0 #4CAF50;
}

.lk-wrap .dxeLoadingPanel_DevEx.dxlpLoadingPanel_DevEx,
.lk-wrap .dxpcLoadingPanel.dxlpLoadingPanel,
.lk-wrap .dxgvLoadingPanel {
	width: 140px !important;
	left: 0 !important;
    right: 0 !important;
    margin: auto !important;
    border: none !important;
}

.wrap td.dxeNoBorderRight {
	width: 100%;
    padding: 0
}

.wrap td.dxeNoBorderLeft {
    padding: 0;
    display: block;
    width: 95%;
    position: absolute;
    left: 0px;
    right: 0;
    bottom: -30px;
    margin: auto;
    text-align: center;
    color: #F44336;
}

.wrap td.dxeNoBorderLeft table td {
    color: #F44336 !important;
}

.wrap .dxeButtonEditSys.dxeButtonEdit_DevEx.dxeInvalid_DevEx.dxh0 {
	background: #e4e4e4;
    overflow: hidden;
}

.lk-wrap td.dxgv:nth-child(3) .dxeTextBoxSys td.dxic,
.lk-wrap td.dxgv:nth-child(4) .dxeTextBoxSys td.dxic {
	padding-right: 0 !important;
}

.lk-wrap .dxGridView_gvFilterRowButton {
	margin-right: .75rem;
}

.preloader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    z-index: 999;
}

.preloader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.modal p {
    word-break: break-word;
}

.clock-text {
    font-size: 12px;
    display: block;
}

.resend-link {
    font-size: 14px;
    display: block;
    width: 143px;
    margin: auto;
}

@media (max-width: 1200px) {
	body {
		background-size: auto;
	}
	.wrap {
		margin: 70px 0;
	}
	
	.inner-wrap,
	.lk-wrap {
		max-width: 340px;
    	margin: auto;
	}

	.main-wrap,
	.inner-wrap,
	.lk-wrap {
		padding: 40px 0;
	}

	.logo-wrap {
		text-align: center;
		margin-bottom: 20px;
	}

	.lk-wrap .logo-wrap .main-logo,
	.welcome-wrap {
		margin-bottom: 20px;
	}

	.lk-wrap h2 {
		font-size: 26px;
	}

	.lk-wrap h3 {
		font-size: 24px;
	}

	.lk-wrap #phone-data .row:not(:first-child) .main-label {
		display: block;
	}

	.edit-link {
		display: block;
	    margin: 20px 0;
	}

	.wrap .row textarea.main-input {
		padding-top: 0 !important;
	}

	.lk-wrap .dxgvAdaptiveHeaderPanel {
		display: none;
	}

	.lk-wrap .dxgvDetailRow.dxgvADR .dxgvADCC {
		color: #00ae68;
		height: 3rem;
		/*vertical-align: middle;*/
	}

	.lk-wrap .dxgvADCMDC,
	.lk-wrap .dxgvADDC {
		height: 3rem;
		vertical-align: top;
	}
	
	.lk-wrap .dxgvADDC,
	.lk-wrap .dxgvADCC {
		width: 100%;
    	display: block;
	}

	.lk-wrap .dxgvControl .dxgvADCMDC {
   		border-bottom: 1px solid #ccc !important;
	}

	.lk-wrap .dxgvADT {
	    margin-top: 20px;
	}

}